@media screen and (max-width: 845px) {
	h1 { float: none; text-align: center; }
	header nav { padding: 10px 0 0 0;}
	header nav ul { float: none; margin: 0 auto;}
	header nav ul li { display: inline-block; }
	.inner { width: 410px;}
	.service { width: 45%;}
	#portfoliocontainer img {width: 200px; height: 200px;}
	h3 a {font-size: 20px;}
}

@media screen and (max-width: 495px) {
	header nav ul li { margin-left: 10px; margin-right: 10px; }
	header nav ul { display: none; }
	header nav select { display: inline-block; }
	header { position: relative;}
	#portfoliocontainer img { width: 180px; height: 180px; margin: 0 5px 5px 0; }
	a.icon span, a.icon2 span { font-size: 35px; }
	footer h3 { font-size: 25px;}
	footer {margin-top: -120px; height: 120px; padding: 10px 0;}
	#main {padding-bottom: 120px;}
	.service { width: 100%; margin: 15px 0 0 0;}
	h3 a { margin-bottom: 5px; font-size: 15px;}
	#services h3 a:nth-child(3) {margin-bottom: 25px;}
	#portfoliocontainer img {opacity: 1;}
}

@media only screen and (max-width : 320px) {
	h1 { font-size: 30px;}
	#portfoliocontainer img {
		width: 140px; height: 140px;
	}
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
